// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #E53935;
$secondary : #1B1B1F;
$accent    : #FF6D00;

$dark      : #1B1B1F;
$dark-page : #121212;

$positive  : #43A047;
$negative  : #D32F2F;
$info      : #F8F9FA;
$warning   : #FB8C00;
